
    @import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

    body,
    html {
      height: 100%;
    }

    body {
      background: linear-gradient(45deg, rgb(181, 223, 181), transparent);
      font-family: "Oswald", sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0%;
    }

    .login {
      background-image: url("https://preview.redd.it/clzn0bgdvxl51.jpg?auto=webp&s=eca72137b28e3c20184de11ad51ca6bd0302ed58");
      padding: 2rem;
      padding-bottom: 0;
      border-radius: 16px;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
      text-align: center;
      font-size: 2rem;
    }

    .login__icon {
      font-size: 3rem;
    }

    .title {
      font-size: 2rem;
    }

    .login__row {
      margin-bottom: 1rem;
    }

    .login__input {
      border: none;
      outline: none;
      background: none;
      padding: 1rem;
      font-size: 1rem;
    }
    ::placeholder{
    font-size: small;
    }
    .login__input-container {
      background-color: rgba(240, 248, 255, 0.733);
      padding: 5px;
      margin-bottom: 1rem;
      padding-left: 1rem;
      border-radius: 20px;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }

    .signIn__button {
      cursor: pointer;
      padding: 1rem 3rem;
      background-color: aliceblue;
      color: black;
      border: none;
      border-radius: 8px;
    }

    .signIn__button:active {
      color: white;
      font-weight: bold;
      background-color: rgb(38, 91, 35);
    }

    .footer {
      font-size: x-small;
      display: flex;
      
      justify-content: space-between;
      margin-right: -1rem;
      margin-top: 10px;
    }
    .footer:hover{
      cursor: pointer;
    }
    .logOut{
      cursor: pointer;
      border: none;
      background: none;
    }
    .logOut:hover {
      color: rgba(240, 248, 255, 0.786);
    }

    .GetMe{
      cursor: pointer;
      border: none;
      background: none;
    }
    .GetMe:hover {
      color: rgba(240, 248, 255, 0.786);
    }
    .signIn {
      font-size: small;
      border: none;
      background: none;
    }
    .signIn:hover {
      cursor: pointer;
      color: azure;
    }
    .ask{
      font-size: medium;
      margin-block-start: 10px;
      margin-block-end: 0;
    }
    .ask_line{
      line-height: 20px;
    }
    

  
  